<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Allocate_services</servlet-name>
        <servlet-class>Work_servlet.Allocate_services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Saving_allocate</servlet-name>
        <servlet-class>Work_servlet.Saving_allocate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Saving_services</servlet-name>
        <servlet-class>Work_servlet.Saving_services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Find_owner</servlet-name>
        <servlet-class>Work_servlet.Find_owner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_book</servlet-name>
        <servlet-class>Work_servlet.Delete_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Refresh_saving</servlet-name>
        <servlet-class>Work_servlet.Refresh_saving</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consult_serv</servlet-name>
        <servlet-class>Fonctions.consult_serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>service_bd</servlet-name>
        <servlet-class>Fonctions.service_bd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Const_Station</servlet-name>
        <servlet-class>servletd.Const_Station</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Const_service</servlet-name>
        <servlet-class>servletd.Const_service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajout</servlet-name>
        <servlet-class>Work_servlet.Ajout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateService</servlet-name>
        <servlet-class>Work_servlet.AllocateService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRess</servlet-name>
        <servlet-class>Work_servlet.DeleteRess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Work_servlet.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirm_choices</servlet-name>
        <servlet-class>Work_servlet.Confirm_choices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirmation</servlet-name>
        <servlet-class>Work_servlet.Confirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_availability</servlet-name>
        <servlet-class>Work_servlet.Service_availability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Find_secretary</servlet-name>
        <servlet-class>Work_servlet.Find_resourdce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Find_resource</servlet-name>
        <servlet-class>Work_servlet.Find_resource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dash_services</servlet-name>
        <servlet-class>Work_servlet.Dash_services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dash_BD</servlet-name>
        <servlet-class>Work_define.Dash_BD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dash_Global_services</servlet-name>
        <servlet-class>Work_servlet.Dash_Global_services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanFal</servlet-name>
        <servlet-class>Work_planning.PlanFal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanDel</servlet-name>
        <servlet-class>Work_planning.PlanDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanSec</servlet-name>
        <servlet-class>Work_planning.PlanSec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Plan</servlet-name>
        <servlet-class>Work_planning.Plan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindType</servlet-name>
        <servlet-class>Work_planning.FindType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanId</servlet-name>
        <servlet-class>Work_planning.PlanId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCom</servlet-name>
        <servlet-class>Work_planning.UpdateCom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanInspecBd</servlet-name>
        <servlet-class>Work_planning.PlanInspecBd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindOwner</servlet-name>
        <servlet-class>Work_planning.FindOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Saving_date_inspection</servlet-name>
        <servlet-class>Work_planning.Saving_date_inspection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_mail</servlet-name>
        <servlet-class>Work_planning.Update_mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashFal</servlet-name>
        <servlet-class>Work_planning.DashFal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Allocate_services</servlet-name>
        <url-pattern>/Allocate_services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Saving_allocate</servlet-name>
        <url-pattern>/Saving_allocate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Saving_services</servlet-name>
        <url-pattern>/Saving_services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Find_owner</servlet-name>
        <url-pattern>/Find_owner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_book</servlet-name>
        <url-pattern>/Delete_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Refresh_saving</servlet-name>
        <url-pattern>/Refresh_saving</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consult_serv</servlet-name>
        <url-pattern>/consult_serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>service_bd</servlet-name>
        <url-pattern>/service_bd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Const_Station</servlet-name>
        <url-pattern>/Const_Station</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Const_service</servlet-name>
        <url-pattern>/Const_service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajout</servlet-name>
        <url-pattern>/Ajout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateService</servlet-name>
        <url-pattern>/AllocateService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRess</servlet-name>
        <url-pattern>/DeleteRess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirm_choices</servlet-name>
        <url-pattern>/confirm_choices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirmation</servlet-name>
        <url-pattern>/Confirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_availability</servlet-name>
        <url-pattern>/Service_availability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Find_secretary</servlet-name>
        <url-pattern>/Find_secretary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Find_resource</servlet-name>
        <url-pattern>/Find_resource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dash_services</servlet-name>
        <url-pattern>/Dash_services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dash_BD</servlet-name>
        <url-pattern>/Dash_BD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dash_Global_services</servlet-name>
        <url-pattern>/Dash_Global_services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanFal</servlet-name>
        <url-pattern>/PlanFal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanDel</servlet-name>
        <url-pattern>/PlanDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanSec</servlet-name>
        <url-pattern>/PlanSec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Plan</servlet-name>
        <url-pattern>/Plan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindType</servlet-name>
        <url-pattern>/FindType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanId</servlet-name>
        <url-pattern>/PlanId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCom</servlet-name>
        <url-pattern>/UpdateCom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanInspecBd</servlet-name>
        <url-pattern>/PlanInspecBd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindOwner</servlet-name>
        <url-pattern>/FindOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Saving_date_inspection</servlet-name>
        <url-pattern>/Saving_date_inspection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_mail</servlet-name>
        <url-pattern>/Update_mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashFal</servlet-name>
        <url-pattern>/DashFal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
